* {
   font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


img {
    width: 100%;
    height: auto;
}

/* NAVBAR CSS */
nav{
    padding-left:4em;
    padding-right: 4em;
    /* TODO: figure out no longer staying fixed */
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index:10;
  }

  nav ul {
    margin:0;
    padding:0;
    display:flex;
  }
  nav li{
    padding: 1em 0;
    list-style-type: none;
    padding: 25px;
    font-size: 1.7em;
  }
  
  nav li a {
    color: #676767;
    font-weight: 400;
    opacity: 0.6;
    text-decoration: none;
    transition: .3s;
  }
  
  nav li a:hover {
    text-shadow: 0px;
    opacity: 1;
    text-decoration: none;
  }

  /* HEADER CSS */
.header {
    position: relative;
    background-image: url("/images/geometric-decoration-5836.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: white;
}


.welcome{
    margin-top: 25vh;
    text-align: center;
    font-weight: 400;
    font-size:4em;
    color:#676767}

#changingword {
     color: #b98e81;
     font-weight: 500;
      } 

/* IMAGE GALLERY CSS */
.image-gallery {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(350px, 1fr)  minmax(350px, 1fr) minmax(350px, 1fr) 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-top: 200px;
    padding-bottom: 200px;
    grid-template-areas:
    ". a b c ."
    ". d e f ."
}
.image-gallery h2{
  font-weight: 900;
}

.image-gallery p{
font-weight: 900;
}

.box-styling {
    height: 350px;
    background-color: rgb(110, 110, 110);
    /* clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
  }

.box-wrapper{
  height:350px;
  border-radius: 1%;
}
.box1 {
    grid-area: a;

}

.box2 {
    grid-area: b;
}

.box3 {
    grid-area: c;
}

.box4 {
    grid-area: d;
}

.box5 {
    grid-area: e;
}

.box6 {
    grid-area: f;
}

.bigText {
    padding-right: .5ch;
}


/* ABOUT ME CSS*/
.about-me {
    height: 75vh !important;
    background-color: #e9d0c9 !important;
    padding: 20vh 50px 0 50px;
    column-count: 2;
}

.about-me img{
  width: 60%;
  border-radius: 0%;
  margin-bottom: 4em;
}

.about-me p{
  text-align: left;
  font-weight: 300;
  line-height: 33px;
  color: white;
  padding: 5px;
  font-size: 25px;
  
  
}
.about-me h1{
  color: white;
  font-weight: 100;
  font-size: 50px;
  padding-bottom: 5%;
}

.about-me a{
color:#b98e81 ;
text-decoration: none;

}


.paragraph2{
  text-indent: 2em;
}
/* the span tag that wrap starts off my paragraph */
.bigText {
  font-size:2em;
  padding-right:.5em;
}

/* CONTACT CSS */
.contact {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 26vh !important;
    padding-bottom: 50vh;
    background-color: #cdcec5 !important;
    grid-template-columns: 3fr minmax(2fr, 1fr) minmax(2fr, 1fr) 3fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". title title ."
    ". logo wrapper ."
    ;
}

.contact-title {
    grid-area: title;
    padding-bottom: 50px;
    color: white;
    font-size: 45px;
    font-weight: 100
  
}
.contact h1{
font-weight: 300;
}

.logo-svg {
    width: 300px;
    grid-area: logo;
    
    
}

.contact-wrapper {
    grid-area: wrapper;
    color: white;
    font-size: 25px;
    font-weight: 300;
    line-height: 140%;
}
.contact a{
  text-decoration: none;
  color: #676767;
}

   /* footer section */
   footer{
    grid-area:footer;
  }
  footer p{
    font-size:2em;
    color: #676767;
  }
  footer li {
    display:inline;
  }
  footer ul {
    max-width: 640px;
    margin: 2em auto;
    padding:0;
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  footer ul li{
    list-style: none;
    align-self:flex-end;
  }
  footer ul li a {
    text-decoration:none;
    color: black;
    opacity:.6;
    transition: .3s;
  }
  footer ul li a:hover {
    text-decoration:none;
    color:white;
  }
  footer svg {
    width:20%;
  }
  footer p{
    font-size: 1em;
  }



  /* MEDIA QUERY FOR SMALL SCREENS */
 @media (max-width:1100px){
    .image-gallery {
      padding-bottom: 0px;
        margin-bottom: 600px;
        grid-template-columns: 1fr minmax(350px, 1fr) minmax(350px, 1fr) 1fr;
        grid-template-areas:
        ". a b ."
        ". c d ."
        ". e f ."
        ;
    }
 }

/* MEDIA QUERY FOR MOBILE */
 @media (max-width:735px){
     nav {
         padding-left: 0;
         font-size: 8px;
        
    }

     .welcome{
       font-size: 50px;

      }

    .image-gallery {
        padding-bottom: 200%;
        grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
        grid-template-areas:
        ".a."
        ".b."
        ".c."
        ".d."
        ".e."
        ".f."
        ;
     }

    .contact {
        padding-bottom: 200%;
        grid-template-columns: 2fr minmax(2fr, 1fr) 3fr;
        height: 0vh !important;
        grid-template-rows:inherit;
        grid-template-areas:
        ". title ."
        ". logo ."
        ". wrapper ."
        ;
        text-align: center;
     }
    
    .contact-title{
       font-size:30px
    }
    .about-me{
      display: grid;
      grid-template-rows: inherit;
      height: 100vh !important;
      grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
      grid-template-areas:
      ". img ."
      ". h1 ."
      ". p . "
      ;
    } 
    
    .about-me p{
      font-size: 13px;
      padding: 0px;
      column-count:1;
      text-align:center;
      
    }

    .about-me img{
      width: 90%;
      padding: 0px;
      align-content:center;
    }
    
   .about-me h1{
     font-size: 15px;
     text-align:center;
     
   }
  }
